@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sandpack 전체 높이 설정 */
.sp-wrapper,
.sp-layout,
.sp-stack {
  height: 100% !important;
}

/* Sandpack Preview 전체 높이 */
.sp-preview-container,
.sp-preview-iframe {
  height: 100% !important;
}
